body {
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-between;
  color: white;
  background-color: black;
}

.hamburger {
  display: none;
}

h1 {
  font-size: 20px;
  font-weight: 100;
  margin-left: 10px;
}
ul {
  list-style: none;
  padding: 0%;
}
.desktop ul {
  display: flex;
  justify-content: space-between;
}
li {
  margin-left: 10px;
  font-size: 20px;
  font-weight: 200;
}

li:last-child {
  margin-right: 10px;
}

header .links {
  color: white;
  text-decoration: none;
}

#first_article {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url(images/fabio-alves-_fLgxjACz5k-unsplash.jpg);
  background-attachment: fixed;
  background-size: cover;
  height: 75vh;
  color: white;
  margin-bottom: 5vh;
}

#first_article h1 {
  font-size: 5em;
}

#first_article h2 {
  font-size: 3em;
  font-weight: 200;
}
#first_article .btn {
  background-color: rgb(24, 22, 22);
  color: white;
  width: 26%;
  font-size: 1.5em;
  padding: 15px;
}

.btn {
  border-color: 3px rgb(176, 171, 171);
}

#location {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 5vh;
}

#location h1 {
  font-size: 3em;
  font-weight: 800;
  margin-bottom: 10px;
}

.links {
  margin-bottom: 20px;
}

.maps {
  width: 100vw;
  height: 50vh;
}

#location p {
  font-size: 1.5em;
}

#gallery {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  margin-bottom: 5vh;
}

#gallery h1 {
  font-size: 3em;
  font-weight: 800;
  margin-bottom: 10px;
}

.gallery-card {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  width: 100%;
}

.gallery-card img {
  height: 40vh;
  width: 100%;
}
.gallery-card > img:last-child {
  grid-column: 1 / -1;
  height: 600px;
}

#beer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 5vh;
}

#beer h1 {
  font-size: 3em;
  font-weight: 800;
  margin-bottom: 10px;
}

.beer-card-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.beer-card img {
  height: 40vh;
  width: 90%;
}

.beer-card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.beer-card p {
  width: 50%;
  font-size: 1.7em;
  font-weight: 400;
}

#team {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 5vh;
}

#team h1 {
  font-size: 3em;
  font-weight: 800;
  margin-bottom: 10px;
}

.team-card {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 8px;
  margin-left: 4px;
}

.team-card img {
  height: 30vh;
  width: 100%;
}

#footer {
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.copyright {
  font-size: 23px;
  margin-bottom: 1vh;
}

.address {
  font-size: 20px;
  margin-bottom: 1vh;
}

.phone {
  font-size: 15px;
  text-decoration: underline;
  text-decoration-color: rgb(194, 194, 35);
  color: rgb(194, 194, 35);
  margin-bottom: 1vh;
}

.lema {
  font-size: 20px;
  margin-bottom: 1vh;
}

@media all and (max-width: 863px) {
  h1 {
    font-size: 25px;
    font-weight: 100;
    padding-top: 10px;
  }

  li {
    margin-left: 5px;
    font-size: 25px;
    font-weight: 200;
    padding-top: 10px;
  }

  li:last-child {
    margin-right: 10px;
  }

  #first_article h1 {
    font-size: 4.5em;
  }

  #first_article h2 {
    font-size: 3em;
    font-weight: 100;
  }
  #first_article .btn {
    background-color: rgb(24, 22, 22);
    color: white;
    width: 26%;
    font-size: 1em;
    padding: 10px;
  }
  .maps {
    width: 100vw;
    height: 40vh;
  }
  #location p {
    font-size: 1.5em;
    margin: 10px;
  }
  .gallery-card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    width: 100%;
  }

  .gallery-card img {
    height: 40vh;
    width: 100%;
  }
  .gallery-card > img:last-child {
    grid-column: auto;
    height: 40vh;
  }

  .beer-card img {
    height: 25vh;
    width: 75%;
  }

  .beer-card p {
    width: 50%;
    font-size: 1.5em;
    font-weight: 500;
  }

  .team-card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 8px;
  }

  .team-card img {
    height: 25vh;
    width: 100%;
  }
}

@media all and (max-width: 777px) {
  #first_article h1 {
    font-size: 3.5em;
  }

  #first_article h2 {
    font-size: 2.5em;
  }

  .maps {
    width: 80vw;
    height: 60vh;
  }

  #location p {
    font-size: 1.5em;
    margin: 20px 20px 0px 30px;
  }

  .gallery-card img {
    height: 35vh;
    width: 100%;
  }
  .gallery-card > img:last-child {
    grid-column: auto;
    height: 35vh;
  }

  .beer-card img {
    height: 25vh;
    width: 75%;
  }

  .beer-card p {
    width: 50%;
    font-size: 1.2em;
    font-weight: 520;
  }
}

@media all and (max-width: 470px) {
  #first_article h1 {
    font-size: 2.5em;
  }

  #first_article h2 {
    font-size: 2em;
  }

  #first_article .btn {
    background-color: rgb(24, 22, 22);
    color: white;
    width: 26%;
    font-size: 0.7em;
    padding: 10px;
  }

  .maps {
    width: 80vw;
    height: 60vh;
  }

  #location p {
    font-size: 1em;
    margin: 20px 20px 0px 30px;
  }

  .gallery-card {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
  }

  .gallery-card img {
    height: 40vh;
  }
  .beer-card-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .beer-card img {
    height: 25vh;
    width: 90%;
  }

  .team-card {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .copyright {
    font-size: 16px;
    margin-bottom: 1vh;
  }

  .address {
    font-size: 16px;
    margin-bottom: 1vh;
  }

  .phone {
    font-size: 17px;
    text-decoration: underline;
    text-decoration-color: rgb(194, 194, 35);
    color: rgb(194, 194, 35);
    margin-bottom: 1vh;
  }

  .lema {
    font-size: 16px;
    margin-bottom: 1vh;
  }

  .desktop {
    display: none;
  }

  .hamburger {
    display: inline-block;
  }

  .hamburger-content {
    display: none;
    position: relative;
    right: 0;
    padding: 0;
    z-index: 1;
  }

  .hamburger:hover .hamburger-content {
    display: block;
    position: absolute;
    background-color: black;
  }

  .hamburger span {
    transition: transform 0.5s;
    display: inline-block;
    font-size: 20px;
    margin-right: 10px;
  }

  .hamburger:hover span {
    transform: rotate(90deg);
  }
}
