body {
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-between;
  color: white;
  background-color: black;
}

h1 {
  font-size: 20px;
  font-weight: 100;
  margin-left: 10px;
}

ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

li {
  margin-left: 10px;
  font-size: 20px;
  font-weight: 200;
}

li:last-child {
  margin-right: 10px;
}

#first_article {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url(/images/fabio-alves-_fLgxjACz5k-unsplash.jpg);
  background-attachment: fixed;
  background-size: cover;
  height: 75vh;
  color: white;
  margin-bottom: 5vh;
}

.article-front {
  position: absolute;
  z-index: 1;
}

#first_article h1 {
  font-size: 5em;
}

#first_article h2 {
  font-size: 3em;
  font-weight: 200;
}
#first_article .btn {
  background-color: rgb(24, 22, 22);
  color: white;
  width: 23%;
  font-size: 1.5em;
  padding: 15px;
}

.btn {
  border-color: 3px rgb(176, 171, 171);
}

#location {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 5vh;
}

#location h1 {
  font-size: 3em;
  font-weight: 800;
  margin-bottom: 10px;
}

.links {
  margin-bottom: 20px;
}

.maps {
  width: 100vw;
  height: 50vh;
}

#location p {
  font-size: 1.5em;
}

#gallery {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  margin-bottom: 5vh;
}

#gallery h1 {
  font-size: 3em;
  font-weight: 800;
  margin-bottom: 10px;
}

.gallery-card {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  width: 100%;
}

.gallery-card img {
  height: 40vh;
  width: 100%;
}
.gallery-card > img:last-child {
  grid-column: 1 / -1;
  height: 600px;
}

#beer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 5vh;
}

#beer h1 {
  font-size: 3em;
  font-weight: 800;
  margin-bottom: 10px;
}

.beer-card-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.beer-card img {
  height: 30vh;
  width: 50%;
}

.beer-card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.beer-card p {
  width: 50%;
  font-size: 1em;
  font-weight: 400;
}

#team {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 5vh;
}

#team h1 {
  font-size: 3em;
  font-weight: 800;
  margin-bottom: 10px;
}

.team-card {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2px;
  width: 100%;
}

.team-card img {
  height: 30vh;
  width: 100%;
}

#footer {
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.copyright {
  font-size: 23px;
  margin-bottom: 1vh;
}

.address {
  font-size: 20px;
  margin-bottom: 1vh;
}

.phone {
  font-size: 15px;
  text-decoration: underline;
  text-decoration-color: rgb(194, 194, 35);
  color: rgb(194, 194, 35);
  margin-bottom: 1vh;
}

.lema {
  font-size: 20px;
  margin-bottom: 1vh;
}
